<%- include('partials/header') %>
    
    <h1>Compose</h1>
    <hr>
    <form action="/compose" method="post">
        <p><strong>Title</strong></p>
        <input class="titletext" type="text" name="blogTitle">
        <p><strong>Content</strong></p>
        <input class="textarea" type="text" name="blogContent">
        <button class="btn btn-primary publishButton" type="submit">Publish</button>
    </form>

<%- include('partials/footer') %>